@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    background-color: grey;
    display: grid;
    grid-template-areas: "nav nav"
                        "section section"
                        "footer footer";
    grid-template-rows: 1fr 90vh 1fr;

}
.nav-p{
    grid-area: nav;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.container{
    grid-area: section;
    background-color: rgb(133, 133, 133);
    
    overflow-y: auto;

}
.seccion-p{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    background-color: peru;
    text-align: center;
}
.footer-p{
    grid-area: footer;
    background-color: red;
}
.aside-p{
    display: none;
    grid-area: aside;
    background-color: yellowgreen; 
}
.menu{
   width: 40px;
   height: 40px;
   margin: 10px;
   
}
.titulo{
    flex-grow: 1; /* default 0 */ 
}
.busqueda{
    text-align: center;
    margin-bottom: 2%;
}
#opciones{
    width: 80%;
    height: 30px;
    border-radius: 10px;
}
article .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 90%;
    padding: 3%;
}