@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(177, 177, 177);
    display: grid;
    grid-template-areas: "nav"
                        "section"
                        "footer";
    grid-template-rows: 90px calc(100vh - 180px) 90px;

}
.nav-p{
    grid-area: nav;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.container{
    grid-area: section;
    overflow-y: auto;

}

.footer-p{
    grid-area: footer;
    background-color: green;
}
.footer-p p{
    margin: 0;
}
.aside-p{
    display: none;
    grid-area: aside;
    background-color: yellowgreen; 
}
.menu{
   width: 40px;
   height: 40px;
   margin: 10px;
   
}
.redes{
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-right: 3%;
    
 }
.titulo{
    flex-grow: 1; /* default 0 */ 
}
.busqueda{
    text-align: center;
    margin-bottom: 5%;
}
#opciones{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    color: black;
}
img{
    width: 80%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
button{
    color: white;
    background-color: green;
    padding: 3%;
    width: 200px;
    margin: 3%;
    border-radius: 10px;
}
.footer-p{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.seccion-p{
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
    text-align: center;
    flex-wrap: wrap;
}
article{
    width: 100%;
}